.drop-down-section{
    width:727px;
    height:71px;
    border-radius: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    color:var(--css-white);
}

.img-container{

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-class{
    width:66px;
    height:71px;
    border-radius: 5px;
    border:5px;
    overflow: hidden;
    object-fit: cover;
    margin-right:10px
}

.head-container{
    flex:1;
}