.button{
    width:170px;
    height:48px;
    background-color: var(--css-black);
    color:var(--css-primary);
    font-weight: 600;
    font-size: 1rem;
    padding:10px 16px;
    border-radius: 12px;
}