
.swiper-button-prev, .swiper-button-next,.next{
    background-color: var(--css-primary) !important;
    border-radius:50% !important;
    --swiper-navigation-size: 20px !important;
    --swiper-theme-color: var(--css-white)!important;
    width:24px !important;
    height:24px !important;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, 1px) !important;
    left: auto;
    top: var(--swiper-navigation-top-offset, 40%)!important;
}
.swiper-button-prev{
    left: var(--swiper-navigation-sides-offset, 0px)!important;
    top: var(--swiper-navigation-top-offset, 42%)!important;
}