.albumPhoto {
  width: 154px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grid {
  color: white;
  display: flex;
  justify-content: end;
  align-items: center;
  min-width:200px;
}

.grid-cont {
  padding: 10px 32px;
  width: 100%;
}

.album-img {
  width: 59px;
  height: 48px;
  overflow: hidden;
  object-fit: cover;
  flex: 1;
  margin-right: 10px;
}

.item-2 {
  text-align: center;
  min-width: 100px;
}

.item-3 {
  text-align: end;
}

.album-txt {
  min-width: 100px;
  flex: 2;
  /* min-height: 100px; */
}

.pagination{
    color:var(--css-primary);
    display: flex;
    justify-content: end;
    margin-top:2rem;
    margin-bottom:1rem;
}

.css-hnd4u0-MuiButtonBase-root-MuiPaginationItem-root{
    color:var(--css-white)!important;
}
.css-1hfyor7-MuiPaginationItem-root{
    color:var(--css-white)!important;
}
.css-hnd4u0-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected{
    background-color: var(--css-primary)!important;
}