.musicplayer {
  background-color: var(--css-black) !important;
  color: var(--css-white) !important;
  border: 1px solid var(--css-white);
  box-shadow: 0 0 10px rgba(248, 247, 247, 0.5);
}

.slider{
    color:var(--css-primary)!important;
    
}
